[paths]
work_dir = <current working directory of the script>

[log]
# CRITICAL = 50; ERROR = 40; WARNING = 30; INFO = 20; DEBUG = 10; NONE = 0
log_to_file = False
log_level = 10
log_dir = 

[telegram]
bot_token = <Bot Token>

[db]
db_name = data.db
db_path = %(work_dir)s/%(db_name)s

[zulip]
zulip_users = <path to a JSON file mapping Telegram usernames with Zulip's>
email = <Email Address of Your Zulip Bot>
key = <API key>
site = <Zulip Chat URL>
stream = <Stream Name Where to Forward the Messages>
to = <Topic Name> (if empty, it defaults to current date dd-MM-YYYY) 